.wrapper input {
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 40px;
    margin-right: 20px;
    font-size: 16px;
    outline: none;
    padding-left: 15px;
}

.wrapper span {
    font-size: 20px;
}

.wrapper .input {
    background-color: white;
}

.invalid {
    background-color: red;
}

.valid {
    background-color: greenyellow;
}

.wrapper td:nth-child(1) {
    width: 300px;
    text-align: right;
    padding-right: 30px;
}

.wrapper , td:nth-child(3) {
    width: 300px;
}