@import "../scss/colors.scss";

.wrapper {
    width: 300px;
    input {
        border: 1px solid $darkGray;
        border-radius: 5px;
        line-height: 40px;
        margin-right: 20px;
        font-size: 16px;
        outline: none;
        padding-left: 15px;
    };
    span {
        font-size: 20px;
    };
    .input {
        background-color: white;
    };
    .invalid {
        background-color: $denied;
    };
    .valid {
        background-color: $accept;
    };
    td:nth-child(1) {
        width: 300px;
        text-align: right;
        padding-right: 30px;
    };
    td:nth-child(3) {
        width: 300px;
    }
}